.navbar-custom {
  padding: 20px 0;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-custom .navbar-toggler {
  color: #3c4858;
  font-size: 30px;
  padding: 0px;
}

.navbar-custom .navbar-brand {
  margin-right: 0 !important;
}

.navbar-custom .navbar-brand .l-dark {
  display: none;
}

.navbar-custom .navbar-brand .l-light {
  display: inline-block;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 11px;
  background-color: transparent !important;
  margin: 0 8px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: "Montserrat", sans-serif;
}

.navbar-custom .navbar-nav .nav-item .nav-link:hover, .navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: #e54b4b;
}

.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: #e54b4b !important;
}

.navbar-custom .navbar-nav .dropdown-toggle::after {
  content: "\F140";
  font: normal normal normal 24px/1 "Material Design Icons";
  vertical-align: middle;
  border-top: none;
  margin: 0;
  font-size: 15px;
  float: none;
  -webkit-transform: translateX(-6px) translateY(-1px);
          transform: translateX(-6px) translateY(-1px);
}

.navbar-custom .navbar-nav .dropdown {
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar-custom .navbar-nav .dropdown .dropdown-menu {
  border-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
          box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}

.navbar-custom .navbar-nav .dropdown .dropdown-menu:before {
  content: "";
  position: absolute;
  top: 0;
  margin-left: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 7px solid #3c4858;
  border-color: transparent transparent #ffffff #ffffff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
          box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
}

.navbar-custom .navbar-nav .dropdown .dropdown-item {
  padding: 7px 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 13px;
}

.navbar-custom .navbar-nav .dropdown .dropdown-item:hover, .navbar-custom .navbar-nav .dropdown .dropdown-item:focus {
  background-color: transparent;
  color: #e54b4b;
}

.navbar-custom .navbar-nav .dropdown:hover .dropdown-menu, .navbar-custom .navbar-nav .dropdown:focus .dropdown-menu {
  display: block;
}

.navbar-custom .navbar-nav.navbar-nav-link .nav-item .nav-link {
  color: #3c4858;
}

.navbar-custom .navbar-nav.navbar-nav-link .nav-item .nav-link:hover, .navbar-custom .navbar-nav.navbar-nav-link .nav-item .nav-link:active {
  color: #e54b4b;
}

.navbar-custom .navbar-nav.navbar-nav-link.active .nav-link {
  color: #e54b4b !important;
}

.navbar-custom .navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0;
  padding-right: 0;
}

.navbar-custom .social-icon {
  margin: 0 0 0 8px;
}

.navbar-custom .social-icon li {
  margin-bottom: 0px !important;
}

.navbar-custom .social-icon li a {
  color: #3c4858;
  border-color: #3c4858;
}

.navbar-custom .social-icon.light-social-icon li a {
  color: #e9ecef;
  border-color: #e9ecef;
}

.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 12px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
  color: #3c4858 !important;
}

.nav-sticky.navbar-custom .navbar-brand {
  margin-right: 0 !important;
}

.nav-sticky.navbar-custom .navbar-brand .l-dark {
  display: inline-block;
}

.nav-sticky.navbar-custom .navbar-brand .l-light {
  display: none;
}

.nav-sticky.navbar-custom .navbar-nav {
  margin-top: 0px;
}

.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #2f3545;
}

.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:hover, .nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: #e54b4b !important;
}

.nav-sticky.navbar-custom .navbar-nav .nav-item.active .nav-link .nav-link {
  color: #e54b4b !important;
}

.nav-sticky.navbar-custom.sticky-light {
  background-color: #ffffff;
}

.nav-sticky .navbar-brand {
  color: #3c4858 !important;
}

.nav-sticky .social-icon.light-social-icon li a {
  color: #3c4858;
  border-color: #3c4858;
}

.nav-sticky .dropdown-menu {
  border: none;
}

.nav-sticky .dropdown-menu::before {
  -webkit-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
          box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
}

@media (min-width: 992px) {
  .navbar-custom .navbar-nav .dropdown .dropdown-menu {
    margin-top: 12px !important;
  }
}

@media (max-width: 1023px) {
  .navbar-custom .nav-social {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar-custom {
    background-color: #ffffff !important;
    padding: 10px 0px !important;
  }
  .navbar-custom .navbar-nav .nav-item .nav-link {
    color: #161c2d !important;
  }
  .navbar-custom .navbar-nav .nav-item .dropdown-toggle:after {
    float: right;
  }
  .navbar-custom .navbar-nav .dropdown .dropdown-menu {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .navbar-custom .navbar-nav .dropdown .dropdown-menu:before {
    display: none;
  }
  .navbar-custom .navbar-brand .l-dark {
    display: inline-block !important;
  }
  .navbar-custom .navbar-brand .l-light {
    display: none;
  }
  .navbar-custom .social-icon {
    margin-top: 12px !important;
  }
  .navbar-custom .social-icon.light-social-icon li a {
    color: #3c4858;
    border-color: #3c4858;
  }
}

@media only screen and (min-width: 768px) {
  .navbar .nav-item .dropdown-menu-right::before {
    margin-left: 160px !important;
  }
  .navbar .nav-item .dropdown .dropdown-menu:before {
    top: 52px;
  }
}

@media (max-width: 768px) {
  .navbar-nav .nav-item .dropdown-menu-right::before {
    margin-left: 45px !important;
  }
  .navbar-custom .container {
    width: 90%;
  }
}

@media (max-height: 480px) {
  .navbar-nav {
    max-height: 200px;
    overflow-y: auto;
  }
}